* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.bg {
  background: url("https://i.imgur.com/xlEPGh1.png");
  background-size: cover;
  animation: scroll 240s linear infinite;
}